/* Global  Section */
* {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Poppins';
}

/* Nav Section */
nav img {
    margin-left: 6rem;
}

nav {
    margin: 2% 5%;
    display: flex;
    justify-content: space-between;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-left: 20rem;
    color: rgb(188, 181, 181);
}

.nav-items>.active-item {
    color: black
}

.nav-item {
    padding: 0px 20px;
    font-size: 17px;

}

.nav-items>button {
    padding: 0px 20px;
    color: #80b0f8;
    border: 1px solid #80b0f8;
    background-color: white;
    border-radius: 10px;
    margin: 20px;
    height: 40px;
}

/* Hero Section */
main {
    margin: 9.9%;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.text-justify>h2 {
    font-size: 45px;
    margin-top: 5px;
}

.text-justify>h3 {
    font-size: 15px;
    color: rgb(155, 150, 150);
    font-weight: 200;
}

.btn-primary {
    color: #fff;
    background-color: #0796f1;
    width: 140px;
    height: 50px;
    border: none;
    border-radius: 10px;
    padding: 0px 15px;
    margin-top: 30px;
}


/* Quality Section */

.quality {
    direction: rtl;
    margin-top: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-justify {
    direction: ltr;
}

.quality-left button {
    margin-right: 23rem;
}

.quality-right img {
    margin-left: -78px;
}



/* Support Section */
.support {
    margin: 5%;
    margin-top: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.support-left {
    margin-left: -22px;
}

.support .support-right {
    width: 600px;
}

/* service */
.service-top {
    display: flex;
    justify-content: space-between;
}

.service-top h1 {
    font-size: 40px;
    margin-left: 45px;
}

/* service-bottom */
.service-bottom {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
}

.service-card {
    margin: 22px 10px;
    padding: 10px 40px;
}

.service-card>.builder {
    width: 48px;
}

.service-card>h3 {
    margin: 5% 0%;
}

.text-justify-left h2 {
    font-size: 40px;
}

.text-justify-left h3 {
    font-size: 15px;
    color: rgb(155, 150, 150);
    font-weight: 200;
}

.support-right>img {
    width: 600px;
}

.service-top-header {
    font-size: 2rem;
}

.service-top>p {
    font-size: 15px;
    color: rgb(155, 150, 150);
    font-weight: 200;
    margin-right: 200px;
    margin-top: 11px;
}



/* Package Section */

.package {
    min-height: 300px;
    background: linear-gradient(to right bottom, #3bb1ff9a, #0893f0);
    height: 1000px;
    padding: 0px 30rem;

}

.package>h2 {
    text-align: center;
    color: white;
    font-size: 45px;
    margin: 20;
    height: 100px;
    padding: 20px;
}

.pricing {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.pricing-card {
    background-color: white;
    margin: 20px auto;
    text-align: center;
    height: 650px;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
}

 .popular {
    background-color: rgb(66, 63, 63);
    height: 157px;
    margin: -20px;
    border-radius: 10px;
    padding: 15px;
    color: white;
} 
 .Pricing-card-body {
    margin-top: 60px;
    text-align: center;

} 
.Pricing-card-body P {
   margin-bottom: -15px;
    
}

.card-heading.popular p {
    color: #fff;
   
}


.btn-pricing {
    color: #0796f1;
    background-color: #fff;
    border: 2px solid #0796f1;
    width: 100px;
    height: 30px;
    margin-top: 22px;
    border-radius: 5px;
}

.pricing-card-body p {
    position: absolute;
    margin-left: 40px;
    margin-top: -28px;
    padding: 5px 10px;
}

.card-heading h4 {
    padding: 25px;
    font-size: 27px;

}

.card-heading p {
    font-size: 15px;
    color: #808080;
    margin-bottom: 100px;
}

.pricing-card-footer h4 {
    font-size: 30px;
    margin-top: 150px;
}
li {
    list-style-type: none;
}
.fa-circle-check {
    border: 2px solid #90ee90;
    border-radius: 50px;
    padding: 0px 10px;
    color: #90ee90;
    margin-right: 268px;
}


.pricing-card-footer>.btn {
    color: #fff;
    background-color: #0796f1;
    border: 2px solid #0796f1;
    width: 100px;
    height: 30px;
    margin-top: 22px;
    border-radius: 5px;
}

.fa-check:before {
    color: #90ee90;
    border: 2px solid #90ee90;
    border-radius: 50px;
    padding: 3px;
    content: "\f00c";
    margin-right: 16rem;
    margin-top: 10rem;
}

/* testimonial */


.heading {
    margin-top: 8rem;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.customer-meaning {
    text-align: center;
    padding: 30px 338px;
}


.customer-testimonials {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.customer-testimonials :first-child {
    background-color: #fff;
}

.customer>.heading {
    font-size: 40px;
    margin-left: 20rem;
    margin-top: 40px;
}

.customer>p {
    color: #7b7777;
    font-size: 15px;
    margin-left: 200px;
}

.customer-big {
    border: 1px solid #7b777721;
    width: 27%;
    padding: 44px;
    margin: 34px;
    border-radius: 15px;
    background-color: #fff;

}

.customer-small {
    display: flex;
    margin-top: 30px;
}

.customer-thumbnail {
    width: 80px;
    height: 80px;
    background: grey;
    border-radius: 50%;
    margin-right: 10px;
}

.customer-tiny {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.customer-name {
    font-size: 20px;
}

.customer-company {
    font-size: 15px;
    margin-top: 10px;
}

/* information */
.footer {
    display: flex;
    justify-content: space-between;
    padding: 40px 169px;
    background-color: #0796f1;
    height: 240px;
    margin-top: 3%;

}

.footer-top>h1 {
    font-size: 40px;
    color: #fff;
    margin-left: 10rem;
}

.Register {
    background-color: #0796f1;
    width: 150px;
    height: 50px;
    margin-top: 80px;
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;

}

.footer-top>h6 {
    font-size: 15px;
    color: #fff;
    margin-top: 40px;
    margin-left: 10rem;
}

.main-footer {
    display: flex;
    justify-content: space-around;
    margin: 5% 5%;
}

.logo-info {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -7rem;
    margin-left: 10rem;
}

.logo-info>img {
    width: 100px;
    height: 100px;
}

li.header {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

li.list-item {
    font-size: 1rem;
    color: lightgray;
    margin: 10px 0px;
}

.social-media-icons {
    margin-top: 10px;
    display: flex;

}

.main-footer h3 {
    font-size: 25px;
}

.social-media-icons>.social-media-icon {
    margin: 6px;
    padding: 5px;
    background-color: #0796f1;
    border-radius: 50%;
    color: #fff;
}
